
<mat-toolbar class="toolbar">
  
   <h1><span><strong  style="color: #6036D8;"> DESTINATIONS </strong></span></h1>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon notifications_none" aria-label="Example icon-button with notifications_none">
     <mat-icon class="nav-icons">notifications_none</mat-icon>
   </button>
   <p class="user-nav">User Name</p>
   <button mat-icon-button class="example-icon arrow_drop_down" aria-label="Example icon-button with arrow_drop_down">
    <mat-icon class="nav-icons">arrow_drop_down</mat-icon>
  </button>
 
 </mat-toolbar>
