table {
  width: 100%;

}
table td,th {
  border-bottom: 1px solid #F2F2F2;
 
}

.statuscss {
  width: 100px;
  border-radius: 6px;
  border: none;
  padding: 6px 8px;
}
table th {
  padding: 5px;
}
table td {
  padding-right: 15px;
}
.search {
  margin-top: 10px;
  width: 30%;
  height: 30px;
  border-radius: 3px;
  border: none;
  border: 0.5px solid #C4C4C4;
}

.selectclass {

  margin-left: 5px;
  margin-top: 10px;
  width: 15%;
  height: 30px;
  border-radius: 3px;
  border: none;
  border: 0.5px solid #C4C4C4;
  
}
select {
  color: #C4C4C4;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #C4C4C4;
}

option:not(:first-of-type) {
  color: black;
}
.twoform {
  background-color: white;
  display: flex;
  width: auto;

  
}
.twoformContainer {
  display: flex;
  width: 1000%;
  background-color: white;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 7px;
  padding-left: 12px;
 
}
.text {
  color: blue;
  position: relative;
 text-align: center;
 top:15px;
}
.maincontainer {
  display: flex;
  flex-wrap: wrap;
  
}
.DashboardContainer{

  margin-left: 240px;
  margin-top: -25px;
  width: 100%;
  

}
.row{
  display: flex;
  flex-wrap: wrap;
}

.dashboard{
  margin-top: 20px;
}

.btn {
  background-color: #6036D8;
  border: none;
  color: white;
  padding: 12px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  height: 48px;
  margin: 0 5px;
}
.contentText{
margin-right: auto;
}
.divofHeading{
  display: flex;
  width: auto;
}
.divofmainbutton{
margin-right: 18px;
}
