<div>
  <div>
    <app-header></app-header>
  </div>
  <div class="container-fluid maincontainer">
    <app-sidebar></app-sidebar>
    <div class="DashboardContainer">
      <div class="dashboard">
        <div class="row" style="justify-content: space-between;margin-left: 10px">
          <div class="col col-lg-6">
            <h1 class="dashboardclasss">Dashboard</h1>
          </div>

          <div class="flex flex-end" style="margin-right: 20px">
            <button class="btn btn-success">
              <img src="./assets/friend.svg" /> Invite Members
            </button>
          </div>
        </div>
      </div>

      <div class="maincontainercard">
        <div *ngFor="let item of cards" class="subcontainercard">
          <div class="cardheadertext">
            <h5>{{ item.header }}</h5>
          </div>
          <div class="iconNumber">
            <div class="iconscircle" [style.background-color]="
            item.header === 'Total Users'
              ? ' rgba(115, 103, 240, 0.12)'
              : item.header === 'Active Users'
              ? 'rgba(151, 124, 29, 0.12)'
              : ' #DAF3F6'
          " title={{item.header}}>  <img src={{item.src}} class="imageposition"/> </div>
            <div class="iconNumberText">
              <h3 style="font-size: 30px;">{{ item.NumUsers }}</h3>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
