<div>
    <div>
        <app-header></app-header>
        
    </div>
<div class="container-fluid maincontainer">
    <app-sidebar></app-sidebar>
    <div class="DashboardContainer">
        <div class="dashboard">
        <div class="row " style="justify-content: space-between;" >
            
            <div class="col col-lg-6 ">

                
                    <h1 class="dashboardclasss">Dashboard</h1>
                </div>
                
                <div class="col col-lg-6" style="margin-left: auto;" > 
                   
                        <button class="btn btn-success" ><img src="./assets/friend.svg"> Invite Members</button>
                  
                </div>
            
            </div>

        </div>
        <div class="container">
            <div class="row ">
    
            <div class="col col-lg-3 col-md-6">
                <app-cards  class="card"></app-cards>
    
            </div>
            <div class="col col-lg-3 col-md-3">
                <app-cards class="card"></app-cards>
    
            </div>
            <div class="col col-lg-3 col-md-3">
                <app-cards class="card"></app-cards>
    
            </div>
            <div class="col col-lg-3 col-md-3">
                <app-cards class="card"></app-cards>
    
            </div>
            
            
          
        </div>
        </div>
    </div>
    
</div>

</div>




 
