*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    width: 200px;
    height: 85%;
    background-color: white;
    border-top: 3px solid white;
    transition: all .4 ease;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 45px;
    font-size: 13px;
    color: #696969;
    padding-left: 20px;
    box-sizing: border-box;
    transform: .3s;
    margin-bottom: 5px;
}
.bars{
display: none;

}

.times{
    display: none;
}
ul li:hover a{
    padding-left: 50px;
}

.icons{
    margin-right: 22px;
    
}
#check{
    display: none;
}


.sidebar{
    left: 0px ;
}


@media screen and (max-width: 576px) {
.sidebar{
    position: absolute;
    top: 56px;
    left: -250px;
    width: 200px;
    height: 90%;
    background-color: white;
    border-top: 3px solid white;
    transition: all .4 ease;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 55px;
    font-size: 13px;
    color: #696969;
    padding-left: 40px;
    box-sizing: border-box;
    transform: .3s;
    margin-bottom: 5px;
}

ul li:hover a{
    padding-left: 50px;
}

.icons{
    margin-right: 22px;
    
}
#check{
    display: none;
}
.bars{
   display: initial;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}
 label #btn{
     left: 30px;
     top: 70px;
     font-size: 35px;
     color: black;
     padding: 6px 10px;
     transition: all .4 ease;
 }

 label #cancel{
     z-index: 1111;
     left: 180px;
     top: 70px;
     font-size: 30px;
     padding: 4px 9px;
 }

#check:checked ~ .sidebar{
     left: 0 ;
 }

 #check:checked ~ label #btn{
    left: 250px ;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 250px;
}

}