<div class="container">
    
    <input type="checkbox" id="check">
    <label for="check">
        <mat-icon class="bars" id="btn">menu</mat-icon>
        <mat-icon class="times" id="cancel">close</mat-icon>
     
    </label>
    <div class="sidebar">
        <ul>
            <li><a href="#"><mat-icon class="icons">dashboard</mat-icon>Dashboard</a></li>
            <li><a routerLink="second"><mat-icon class="icons">subject</mat-icon>Cities</a></li>
            <li><a href="#"><mat-icon class="icons">chat_bubble_outline</mat-icon>Places</a></li>
            <li><a href="#"><mat-icon class="icons"> subject</mat-icon>Curated Trails</a></li>
            <li><a href="#"><mat-icon class="icons">bookmark_border</mat-icon>Iterary Plan</a></li>
            <li><a href="#"><mat-icon class="icons">dashboard</mat-icon>Activities & Events</a></li>
            <li><a href="#"><mat-icon class="icons">subject </mat-icon>Content</a></li>
            <li><a href="#"><mat-icon class="icons">bookmark_border</mat-icon>Messages</a></li>
            <li><a href="#"><mat-icon class="icons">dashboard</mat-icon>Integrations</a></li>
            <li><a href="#"><mat-icon class="icons">bookmark_border</mat-icon>Configuration</a></li>
        </ul>
    
    </div>
</div>